.preview-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 6.5rem;
}
.preview-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 1rem;
}
