.paginate {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul {
  list-style: none;
}
li {
  border: 1px solid black;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-page-link {
  color: #fff;
  background-color: #000;
}
li:hover {
  transform: scale(1.1);
}
